:root {
    --main-color: darkturquoise;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #333;
    color: var(--main-color);
}

.FAIModalWrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.FAIModalMessage {
    width: 400px;
    height: 250px;
    background: var(--main-color);
    z-index: 10000;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.FAIModalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#appList {

}

.appListElem {
    width: 100px;
    height: 50px;
    padding: 10px;
    list-style-type: none;
    color: var(--main-color);
    border: 1px solid;
}